/* Defaults
---------------------------------------- */

.js [data-motion="fadeIn"]:not(.motion-fadeIn),
.js [data-motion="fadeInUp"]:not(.motion-fadeInUp),
.js [data-motion="fadeInDown"]:not(.motion-fadeInDown) {
	opacity: 0;
}

.js [data-motion="fadeInUp"]:not(.motion-fadeInUp) {
	transform: translateY(20px);
}

.js [data-motion="fadeInDown"]:not(.motion-fadeInDown) {
	transform: translateY(-20px);
}

/* Fade In
---------------------------------------- */

.motion-fadeIn {
	animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Fade In Up
---------------------------------------- */

.motion-fadeInUp {
	animation: fadeInUp 0.5s ease-out forwards;
}

@keyframes fadeInUp {
	from { opacity: 0; transform: translateY(20px); }
	to { opacity: 1; transform: translateY(0); }
}

/* Fade In Down
---------------------------------------- */

.motion-fadeInDown {
	animation: fadeInDown 0.5s ease-out forwards;
}

@keyframes fadeInDown {
	from { opacity: 0; transform: translateY(-20px); }
	to { opacity: 1; transform: translateY(0); }
}
