/* WooCommerce
---------------------------------------- */

.woocommerce .product {
	margin-top: 0;
}

/* -- Add to Cart Form -- */

.wc-block-add-to-cart-form .quantity,
.woocommerce div.product form.cart div.quantity .qty {
	margin-right: 0;
}

.wp-block-add-to-cart-form .quantity .qty {
	width: 70px;
}

.wc-block-add-to-cart-form .input-text,
.wp-block-add-to-cart-form .quantity .qty {
	padding: 10px;
}

div.product form.cart .variations label {
	font-weight: var(--wp--custom--font-weight--regular);
}

input {
	&::-webkit-inner-spin-button {
		opacity: 1;
	} 
}

/* -- Catalog Sorting -- */

div.product form.cart .variations select,
.wc-block-catalog-sorting select {
	background-image: url( '../icons/icon-arrow.svg' );
	background-position: 95% 15px;
	background-repeat: no-repeat;
	background-size: 24px;
	cursor: pointer;
	width: 240px;
	-webkit-appearance: none;
}

/* -- Comment Review -- */

.woocommerce #reviews #comments ol.commentlist li img.avatar {
	background: none;
	border: none;
	border-radius: 60px;
	height: 60px;
	padding: 0;
	width: 60px;
}

.woocommerce #reviews #comments ol.commentlist {
	padding: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
	color: var(--wp--preset--color--contrast);
	font-size: var(--wp--preset--font-size--small);
	margin-bottom: var(--wp--preset--spacing--x-small) !important;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
	border-color: var(--wp--preset--color--contrast);
	border-radius: 0;
	margin-left: 80px;
	padding: var(--wp--custom--spacing--gap) !important;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p {
	font-size: var(--wp--preset--font-size--small);
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p:last-of-type {
	margin-bottom: 0;
}

.woocommerce .woocommerce-Reviews .comment-reply-title {
	font-weight: var(--wp--custom--font-weight--medium);
}

/* -- Comment Review Form -- */

.woocommerce #reviews #comment {
	height: inherit;
}

.woocommerce #review_form #respond .form-submit input {
	width: auto;
}

/* -- Error, Info, Message, Success -- */

.wc-block-components-notice-banner.is-info,
.wc-block-components-notice-banner.is-success {
	background-color: #f5f5f5;
	border-color: var(--wp--preset--color--primary);
	border-radius: 0;
	color: var(--wp--preset--color--contrast);
	padding: var(--wp--preset--spacing--x-small) var(--wp--preset--spacing--medium);
}

.wc-block-components-notice-banner.is-info>svg,
.wc-block-components-notice-banner.is-success>svg {
 	background-color: var(--wp--preset--color--primary);
}

/* -- Mini-Cart -- */

.wc-block-mini-cart__button {
	cursor: pointer;
}

.wc-block-components-product-badge,
.wc-block-components-product-name {
	font-weight: var(--wp--custom--font-weight--regular);	
}

.wc-block-components-product-badge {
	background-color: var(--wp--preset--color--primary);
	border: none;
	color: var(--wp--preset--color--base);
	padding: 2px 8px;
}

.wc-block-components-product-metadata,
.wc-block-components-quantity-selector .wc-block-components-quantity-selector__button,
.wc-block-components-quantity-selector input.wc-block-components-quantity-selector__input {
	font-size: var(--wp--preset--font-size--tiny);
}

.wc-block-components-product-metadata {
	font-size: var(--wp--preset--font-size--tiny);
	line-height: var(--wp--custom--line-height--medium);
}

.wc-block-components-product-badge,
.wc-block-components-quantity-selector,
.wc-block-components-quantity-selector::after {
 	border-radius: 0;
}

.wc-block-components-quantity-selector {
	min-width: 100px;
}

.wc-block-components-quantity-selector::after {
 	border-color: var(--wp--preset--color--contrast);
}

.wc-block-components-totals-item__value,
.wc-block-mini-cart__footer .wc-block-components-totals-item.wc-block-mini-cart__footer-subtotal,
.wc-block-components-quantity-selector input.wc-block-components-quantity-selector__input {
	font-weight: var(--wp--custom--font-weight--medium);
}

.wc-block-components-quantity-selector .wc-block-components-quantity-selector__button,
.wc-block-components-quantity-selector .wc-block-components-quantity-selector__button:disabled {
	opacity: 1;
}

.wc-block-mini-cart__footer::after {
	opacity: 0.25;
}

/* -- Product Details -- */

.woocommerce div.product .woocommerce-tabs ul.tabs,
.wp-block-woocommerce-product-details ul.wc-tabs {
	margin-bottom: var(--wp--custom--spacing--gap);
	padding: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li,
.wp-block-woocommerce-product-details ul.wc-tabs li {
	background: none;
	border: none;
	margin: 0 20px 0 0;
	padding: 0;
}

.woocommerce .wp-block-woocommerce-product-details ul.wc-tabs {
	border-bottom: 1px solid #e5e5e5;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.wp-block-woocommerce-product-details ul.wc-tabs li.active {
	border-bottom: 1px solid var(--wp--preset--color--contrast);
	color: var(--wp--preset--color--contrast);
}

.woocommerce div.product .woocommerce-tabs ul.tabs::after,
.woocommerce div.product .woocommerce-tabs ul.tabs::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	display: none;
}

.woocommerce div.product .woocommerce-tabs ul.wc-tabs li a,
.wp-block-woocommerce-product-details ul.wc-tabs li a {
	color: var(--wp--preset--color--contrast);
	font-weight: var(--wp--custom--font-weight--regular);
	padding-bottom: 5px;
	padding-top: 5px;
}

.woocommerce-Tabs-panel--description,
.woocommerce-Tabs-panel--reviews {
	max-width: 720px;
}

/* -- Product Gallery -- */

.woocommerce div.product div.images {
	margin-bottom: 0;
}

/* -- Product Image -- */

.wc-block-components-product-sale-badge,
.wc-block-grid__product-image .wc-block-grid__product-onsale,
.wp-block-woocommerce-product-image-gallery span.onsale {
	background-color: var(--wp--preset--color--primary);
	border: none;
	border-radius: 0;
	color: var(--wp--preset--color--base);
	font-size: var(--wp--preset--font-size--tiny);
	font-weight: var(--wp--custom--font-weight--medium);
	padding: 5px 10px;
	text-transform: uppercase;
}

.woocommerce .wp-block-woocommerce-product-image-gallery span.onsale {
	left: 0;
	line-height: var(--wp--custom--line-height--body);
	min-height: inherit;
	min-width: inherit;
	padding: 8px 15px;
	top: 0;
}

.wc-block-components-product-image {
	margin-bottom: var(--wp--custom--spacing--gap);
}

.wc-block-components-product-image .wc-block-components-product-sale-badge--align-center,
.wc-block-components-product-image .wc-block-components-product-sale-badge--align-left,
.wc-block-components-product-image .wc-block-components-product-sale-badge--align-right {
	top: 0;
}

.wc-block-components-product-image .wc-block-components-product-sale-badge--align-left {
	left: 0;
}

.wc-block-components-product-image .wc-block-components-product-sale-badge--align-right {
	right: 0;
}

/* -- Product Meta -- */

.wp-block-woocommerce-product-meta .wp-block-post-terms__prefix {
	font-weight: var(--wp--custom--font-weight--medium);
}

/* -- Product Tabs  -- */

.woocommerce table.shop_attributes {
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
}

.woocommerce table.shop_attributes th {
	font-weight: var(--wp--custom--font-weight--medium);
}

.woocommerce table.shop_attributes th,
.woocommerce table.shop_attributes td {
	border-bottom: none;
}

/* -- Product Template  -- */

.wc-block-product-template.is-flex-container {
	gap: var(--wp--preset--spacing--medium);
}

/* -- Related Product  -- */

.wp-block-woocommerce-related-products :where(.products-block-post-template .wp-block-post) > *:last-child {
	margin-bottom: 0;
}

/* Media Queries
---------------------------------------- */

@media (min-width: 600px) {

	/* -- Product Template  -- */

	.wc-block-product-template.is-flex-container.is-flex-container.columns-2 > li {
	    width: calc(100% / 2 - var(--wp--preset--spacing--medium) + var(--wp--preset--spacing--medium) / 2);
	}

	.wc-block-product-template.is-flex-container.is-flex-container.columns-3 > li {
	    width: calc(100% / 3 - var(--wp--preset--spacing--medium) + var(--wp--preset--spacing--medium) / 3);
	}
	
	.wc-block-product-template.is-flex-container.is-flex-container.columns-4 > li {
	    width: calc(100% / 4 - var(--wp--preset--spacing--medium) + var(--wp--preset--spacing--medium) / 4);
	}

}
